@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Hesabınız onaylandı</h1>
<p>
    Giriş yapmak için <a asp-area="Identity" asp-page="/Account/Login" class="text-info">tıklayın</a>
</p>